h1{
    color: white; 
    font-size: 60px;
}

p{
    color: white;
    font-size: 20px;
}

body{
    background-image: url('/static/images/lifestream.jpg');
    background-size: 100% 100%;
}

.pagination a {
    margin-right: 20px; /* Space between Previous and Next */
  }
  
  .pagination a:last-child {
    margin-right: 0; /* Remove margin from the last link */
  }