{% extends 'Main.html' %}
{% block content %}
  <div class="container">
    <h1>About GameStat</h1>
    <p>
      Why GameStat?
      <br/><br/>
      As a passionate gamer, I envision creating a comprehensive website to track and analyze the market performance of my favorite games. This platform will not only serve my interests but also cater to other gamers and developers who want to stay informed about game trends and reception. The website will feature detailed graphs, raw sales data, gamer ratings, and interactive comment sections. It aims to be a central hub where gamers can share insights and developers can gauge player feedback, fostering a vibrant community centered around video games.
      <img src = "{{ url_for('static', filename = 'images/about_games.jpg') }}" width = "1300">
      <br/><br/>
      Inspiration:
      https://github.com/mshawn12/video-game-sales-analysis
      <br/><br/>
      Updates by date:
      <br/><br/>
      Update (7/11/2024): Finished the Navbar for the website and found the data for videogame sales.
      <br/><br/>
      Update (7/13/2024): All the links in the Navbar have their own route and are functional.
      <br/><br/>
      Update (7/21/2024): Organizing Code to make it more readable. Doing the database tommorow.
      <br/><br/>
      Update (7/22/2024): All data has been imported from excel and the database is implemented. Doing the final touches tommorow and editing tonight.
      <br/><br/>
      Update (7/23/2024): Finished allowing the user to filter the games by genre. Now working on the search button and final touches.
      <br/><br/>
      Update (7/24/2024): Part 1 of my vision for this project has been completed. Im presenting at 6:30pm today. More updates and changes to fully realize my vision will be coming in the future.
    </p>
  </div>
{% endblock %}

