{% extends 'Main.html' %}
{% block content %}
<div class="container">
  <h1>Games</h1>
  <p>This is the Games page for GameStat. Here we provide information about our Games.</p>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      {% for game in games.items %}
      <tr>
        <td>{{ game.id }}</td>
        <td>{{ game.name }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <div class="pagination">
    {% if games.has_prev %}
      <a href="{{ url_for('games', page=games.prev_num) }}">Previous</a>
    {% endif %}
    {% if games.has_next %}
      <a href="{{ url_for('games', page=games.next_num) }}">Next</a>
    {% endif %}
  </div>
</div>
{% endblock %}
